//*Galería*//
.contenedor-galeria{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    
    

        .card-galeria {
            width: 334px;
            height: 270px;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 8px;

            h2 {
                color: #62C5E3;
                font-size: 2rem;
                margin-left: 1rem;
                margin-top: 1rem;
              }
            
            h3 {
                color: #FFFFFF;
                font-size: 0.9rem;
                margin-left: 1rem;
                width: 80%;
            }

            h5 {
                margin-left: 12px;
                margin-top: 2px;
                color: #6E6E6E;
                font-size: 1rem;
              }
            
            hr{
                width: 17rem;
                color: #2b8aa7;
                margin-left: 12px;
            }

            .imagen-galeria:hover {
                filter: opacity(.5); 
            }
        }
}
//*Fin de Galería*//



